<ion-header>
  <ion-toolbar>
    <ion-title>NovoPerfilModal</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>

    <ion-item>
      <ion-label>Nome:</ion-label>
      <ion-input [(ngModel)]="perfil.nome"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Idade:</ion-label>
      <ion-input [(ngModel)]="perfil.idade"></ion-input>
    </ion-item>

    <ion-item>
      <img src="{{perfil.avatar}" alt="">
      <ion-button expand="full" (click)="take_picture()">
        <ion-icon name="camera"></ion-icon>
      </ion-button>
    </ion-item>

    <ion-button expand="full" (click)="add()">Enviar</ion-button>

  </ion-list>

</ion-content>